# Python
venv/
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.py[cod]
*.egg-info/
dist/
build/
staticfiles/
media/

# Environment Variables
.env
.env.local
.env.*.local

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini